A {
	color:				#000099;
	text-decoration:	none;
	font-weight:		bold;
}	

BODY {
	background-color:	#FFFFEE;
}	
		
H2 {
	position:	relative;
	clear:		both;
	margin-bottom:	-.2em;
}		

H3 {
	position:	relative;
	clear:		both;
	margin-left:	2em;
	margin-bottom:	-.5em;
}

H4 {
	position:	relative;
	clear:		both;
	margin-left:	3.5em;
	margin-bottom:	-.5em;
}
	
.flr {
	position:	relative;
	float:		right;
}

.fll {
	position:	relative;
	float:		left;
}

.details {
	display:				none;
	margin-left:			1em;
	background-color:		#FFFFCC;
}

.tatoeba {
	font-style: 	italic;
	margin-left:	3em;
}

.small {
	font-size:		9pt;
}